:root {
  --tide-yellow: #ddb940;
  --tide-dark-yellow: #988030;
  --tide-light-yellow: #f0d98b;
}

@font-face {
  font-family: 'Roboto';
  src: url('/font/roboto.ttf');
}

@font-face {
  font-family: 'Roboto Italic';
  src: url('/font/roboto-italic.ttf');
}

body, html {
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

html { background-color: #000; }
body { background-color: var(--tide-yellow); }

article {
  width: 720px;
  margin: 0 auto;

  overflow: hidden;
  background-color: #fff;

  > div { margin: 16px; }
  p { text-indent: 24px; }
  .no-indent { text-indent: 0; }

  h2, h3, h4, h5, h6 {
    margin-bottom: 8px;
    padding-bottom: 8px;

    border-bottom: 1.5px solid #000;
  }
}

header {
  height: 156px;
  position: relative;

  font-size: 0;
  background-image:
    linear-gradient(to top, #112c66, #00000000),
    url('/img/banner.webp');
  background-size: cover;

  .logo {
    width: 420px;
    filter: invert() drop-shadow(2px 2px 2px #000);

    left: 16px;
    bottom: 32px;
    position: absolute;
  }
  .subtitle {
    margin: 0;

    font-size: 16px;

    color: #fff;
    filter: drop-shadow(2px 2px 1px #000);

    left: 16px;
    bottom: 16px;
    position: absolute;
  }
}

footer {
  > div { margin: 16px; }
  overflow: hidden;

  clear: both;

  color: #fff;
  background-color: #000;
}

.back {
  float: left;

  padding: 4px;
  margin-right: 8px;

  font-size: 13px;
  text-decoration: none;

  color: #000;
  background-color: #fff;

  border: 1px solid #666;
  border-radius: 4px;
}
.back::before { content: "< "; }

@media (max-width: 720px) {
  article { width: 100%; }
  header .logo { width: calc(100% - 32px); }
}
